{% extends "base.twig" %}

{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="/libs/owlcarousel/dist/assets/owl.carousel.min.css" />
{% endblock %}
{% block favicon %}{% if cartAmount is not same as(0) %}-cart{% endif %}{% endblock %}
{% block cartAmount %}
    {% if cartAmount is same as(0) %}
    {% else %}
        {{ cartAmount }}
    {% endif %}
{% endblock %}
{% block content %}
    {% if user == null %}
        <h1 class="title">Todays pick of posters</h1>
    {% else %}
        <h1 class="title">Welcome {{ user.fname }}!</h1>
    {% endif %}

    <div class="poster-container">
        {% for poster in posters %}
            <a href="/{{ poster.name | replace({' ' : '-'}) }}-poster">
                <div class="poster-card">
                    <img class="poster-image" src="/assets/posters/{{ poster.image }}" alt="{{ poster.image }}">
                    <ul class="poster-ul">
                        <li class="poster-li">
                            <p class="poster-title">{{ poster.name }}</p>
                            <p class="poster-price">
                                {% set price = 99 %}
                                {% set price = price + poster.extra_price %}
                                Fr. {{ price }} kr
                            </p>
                        </li>
                        <li class="poster-li poster-li-2">
                            {% set like = '' %}
                            {% for userLike in liked %}
                                {% if userLike.product_id == poster.id %}
                                    {% set like = '-liked' %}
                                {% endif %}
                            {% endfor %}
                            <p></p>
                            <form action="/like-poster" method="post">
                                <input type="hidden" name="poster_id" value="{{ poster.id }}">
                                <input type="hidden" name="poster_liked" value="{% if like == "" %}false{% else %}true{% endif %}">
                                <input type="hidden" name="location" value="/">
                                <button type="submit" class="clickable like-button"><img src="/assets/heart{{ like }}.png" alt=""></button>
                            </form>
                            <p class="poster-likes">{{ poster.likes }}</p>
                        </li>
                    </ul>
                </div>
            </a>
        {% endfor %}
    </div>
    <a class="all-href" href="/posters"><h3>See all posters →</h3></a>
    <br>
    {% if orders > 0 %}
    <h1>Your current orders</h1>
        <ul class="owl-carousel cart-container">
            {% for order in orders %}
                <li class="order-container draggable">
                    <p>Order id: {{ order.orderData.id }}<br>&nbsp;</p>
                    <div class="cart-item">
                        <a href="/{{ order.product.name | replace({' ' : '-'}) }}-poster"><img class="cart-image" src="/assets/posters/{{ order.product.image }}" alt="{{ order.product.name }}"></a>
                        <div class="cart-text-container">
                            <a href="/{{ order.product.name | replace({' ' : '-'}) }}-poster" class="cart-item-name">{{ order.product.name }}</a>
                            <p class="cart-item-price">
                                {% if order.orderData.qty == 1 %}
                                    Total: {{ order.orderData.total }} kr
                                {% else %}
                                    Per unit: {{ order.orderData.unit_price }} kr <br>Total: {{ order.orderData.total }} kr
                                {% endif %}

                            </p>
                            <p>Dimensions: {{ order.orderData.size }}<br>Quantity: {{ order.orderData.qty }}</p>
                            <p class="cart-item-article">Article number: {{ order.product.id }}</p>
                        </div>

                    </div>
                    <div class="map-position">
                        <p>Destination:</p>
                        <div class="map-container">
                            <iframe
                                    class="destination-map"
                                    width="100%"
                                    height="100%"
                                    style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWN6IL8paR0hWUg9Gy0QBx0JC5oQRbVP4&q={{ order.destination.city }},{{ order.destination.country }},{{ order.destination.zip_code }}" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div>
                        <p>{{ order.tracking.status|capitalize }}</p>
                        <p>{{ order.tracking.order_date|date() }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
{% block script %}
    <script src="/libs/owlcarousel/dist/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel();
        });
        $('.owl-carousel').owlCarousel({
            margin:20,
            loop:false,
            autoWidth:true,
            items:4,
            lazyLoad: true
        })
    </script>
{% endblock %}